# --- Compilations ---
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.out
*.exe

# --- Dossiers de build ---
build/
bin/
dist/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# --- IDE ---
# VSCode
.vscode/
# CLion / JetBrains
.idea/
cmake-build-*/
# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
Debug/
Release/
x64/
x86/

# --- Logs ---
*.log

# --- OS ---
.DS_Store
Thumbs.db
